
/* ---------- General Formatting ---------- */

body {
  background-color: aliceblue;
}

h1 {
  margin-top: 30px;
  margin-left: -20px; /* for pseudo indent */
}

button {
  border-radius: 4px;
  background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    color-stop(0, #c1d5f7),
    color-stop(1, #d2e0f9)
  );
  outline: none;
  cursor: pointer;
  border: none;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

button:hover {
  background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    color-stop(0, #d2e0f9),
    color-stop(1, #d2e0f9)
  );
}

textarea {
  padding: 5px 0px 3px 5px;
}

/* Use to hide and unhide elements */
.hidden {
  display: none;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  border-left: 20px;
}


/* ---------- Log In section ---------- */

#log-in {
  position:absolute;
  top:0;
  right:50px;
}

#log-in a {
  border-radius: 4px;
  padding: 10px 30px;
  background-color: rgb(26, 115, 232);;
  color: rgba(255, 255, 255, .9);
}

#log-in a:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(26, 115, 232, .4);
}

/* ---------- Header with name and selfie ---------- */

/* Make selfie name and comment
   appear in same line */
#name {
  overflow:auto;
  margin-bottom: 15px;
}

#name img {
  float:left;
  border-radius: 50%;
  margin-right: 10px

  }

#name h1 {
  margin-left: 0px;
  margin-top:77px;
  margin-bottom: 10px;
}

#name p {
  float:left;
  margin-top: 0px;
  margin-left: 10px;
}

#fact {
 margin-top: 15px;
  background-image: linear-gradient(to left, violet, indigo, blue, green, orange, red);
  -webkit-background-clip: text;
  color: transparent;
  width: 200px;
}


/* ---------- Personal Project section ---------- */

.collapsible {
  margin-top: 5px;
  padding: 13px;
  width: 100%;
  font-size: 15px;
  background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #c1d5f7),
        color-stop(1, #d2e0f9)
    );
}

.content {
  padding-left: 30px;
  overflow: hidden;
}

.content p {
  border-left: 5px solid lightblue;
  padding: 10px;
}

#more {
    margin-top: 30px;
}


/* ---------- Fun fact section ---------- */

#btn {
  position: relative;
  left: 410px;
}


/* ---------- Messages section ---------- */

.message {
  background-color: #f5f5f5;
  display:inline-block;
  border-style: groove;
  padding: 3px 7px 3px 3px;
  margin-top: 0;
  margin-right: 10px;
}

.name{
  margin-bottom: 0;
}

.remove {
  float:left;
  margin-top: 25px;
  margin-right: 7px;
}

#messages-container {
  background-color: #fafafa;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
  margin-top: 10px;
  overflow: scroll;
}

#name-input {
  height: 15px;
  width: 250px;
  position: relative;
  top: 6px;
}

#text-input {
  width: 700px;
  height: 50px;
}