
/* ---------- General Formatting ---------- */

body {
  margin: 0;
  background-color: #f8f8ff;
}

h1 {
  margin-top: 30px;
}

p, ul {
  font-size: 1.4rem;
  margin: 0;
}

li {
  margin-bottom: 1rem;
}

button {
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
}

/* Use to hide and unhide elements */
.hidden {
  display: none;
}

/* ---------- Format section ---------- */

.pre-load #first,
.pre-load #second,
.pre-load #third,
.pre-load #fourth,
.pre-load #fifth {
  height: 0;
}

.block {
  overflow: auto;
}

.title {
  margin: auto;
  width: 80%;
  overflow: auto;
}

.title h1 {
  text-align: center;
  width: 18%;
  display:inline-block
}

.line {
  width: 40%;
  height: .2rem;
  display: inline-block;
  bottom: .5rem;
  position: relative;
}

.section {
  width: 50%;
  margin: auto;
}

.mini-section {
  clear: left;
  width: 80%;
}

.mini-section img {
  float: left;
  margin-bottom: 3rem;
  margin-top: 1rem;
  left: 10%;
  position: relative;
}

.mini-section ul {
  font-size: 1.3rem;
  top: 2rem;
  left: 9rem;
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .line {
     width: 30%;
   }

  .title h1 {
    width: 29%;
  }

  .section {
    width: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  .line {
     width: 20%;
   }

  .title h1 {
    width: 50%;
  }
}

.color1, .color3 .line {
  background-color: #f8f8ff;
}

.color2, .color1 .line {
  background-color: #8ea2c4;
}

.color3, .color2 .line {
  background-color: #213352;
  color: #f8f8ff;
}

.color4 {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #385381 ),
    color-stop(1, #8ea2c4)
  );
}

/* Background */
#first {
  height: 22rem;
  transition: height .5s linear;
}

/* Work History */
#second {
  height: 39rem;
  transition: height .5s linear .5s;
  box-shadow: 0 0 .8rem #8ea2c4;
}

/* Projects */
#third {
  box-shadow: 0 0 .8rem #213352;
}

#third.transition1 {
  transition: height .5s linear 1s;
}

#third.transition2 {
  transition: height .1s ease-in 0s;
}

#third.one {
  height: 18rem;
}

#third.two {
  height: 23rem;
}

#third.three {
  height: 27rem;
}

#third.four {
  height: 31rem;
}

/* Interests */
#fourth {
  height: 16rem;
  transition: height .5s linear 1.5s;
}

/* ---------- Contact Info ---------- */

/* Bottom */
#fifth {
  text-align: center;
  height: 15rem;
  transition: height .5s linear 2s;
  box-shadow: 0 0 .8rem #8ea2c4;
}

#fifth p {
  margin-bottom: 1rem;
}

/*  Top  */
#contact-info-top {
  position: fixed;
  right: 1rem;
  padding-top: 1rem;
  height: 10rem;
  font-size: 3rem;
}

.contact-info a {
  font-size: 5rem;
  color: lightblue;
}


/* ---------- Header with name and selfie ---------- */

/* Make selfie name and comment
   appear in same line */
#name-wrapper {
  color: #f8f8ff;
  height: 13rem;
  background-color: #f8f8ff;
}

#name {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #334f80 ),
    color-stop(1, #213352)
  );
  height: 10rem;
  padding-top: 1rem;
  box-shadow: 0 0 .8rem #334f80aa;
}

#face {
  border-radius: 50%;
  position: absolute;
  margin-left: calc(50% - 13rem);
  margin-top: 1rem;
}

#name h1 {
  margin-left: 50%;
  width: 15rem;
  margin-bottom: 0;
}

#name p {
  margin-left: calc(50% + 5rem);
  margin-top: 0;
}


/* ---------- Work History ---------- */

#id {
  border-radius: 50%;
}


/* ---------- Personal Project section ---------- */

.collapsible {
  margin-top: 5px;
  padding: 13px;
  width: 100%;
  font-size: 1.2rem;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #9bb9ec),
      color-stop(1, #d2e0f9)
    );
}

.collapsible:hover {
  background-image: none;
  background-color: #d2e0f9;
}

.content {
  border-left: .3rem solid lightblue;
  padding-left: 1rem;
  margin: 1rem 3rem;
  transition: height .2s ease-in 0s;
}

.content a {
  color: #d2e0f9;
}